In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [11]:
date1 = datetime(2021,6,28,0,0,0)
date1

datetime.datetime(2021, 6, 28, 0, 0)

In [29]:
date2 = datetime(2021,6,28,23,59,0)
date2

datetime.datetime(2021, 6, 28, 23, 59)

In [4]:
date_today = datetime.now()
date_today

datetime.datetime(2021, 6, 30, 10, 48, 50, 808908)

In [43]:
days = pd.date_range(start=date1, end=date1+timedelta(1), freq='10T')
days

DatetimeIndex(['2021-06-28 00:00:00', '2021-06-28 00:10:00',
               '2021-06-28 00:20:00', '2021-06-28 00:30:00',
               '2021-06-28 00:40:00', '2021-06-28 00:50:00',
               '2021-06-28 01:00:00', '2021-06-28 01:10:00',
               '2021-06-28 01:20:00', '2021-06-28 01:30:00',
               ...
               '2021-06-28 22:30:00', '2021-06-28 22:40:00',
               '2021-06-28 22:50:00', '2021-06-28 23:00:00',
               '2021-06-28 23:10:00', '2021-06-28 23:20:00',
               '2021-06-28 23:30:00', '2021-06-28 23:40:00',
               '2021-06-28 23:50:00', '2021-06-29 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='10T')

In [44]:
np.random.seed(seed=1111)
data = np.random.randint(1,100, size=len(days))
data

array([29, 56, 82, 13, 35, 53, 25, 23, 21, 12, 15,  9, 13, 87,  9, 63, 62,
       52, 43, 77, 95, 79, 77,  5, 78, 41, 10, 10, 88, 19,  1, 37,  9, 70,
       22, 82, 46, 51, 97, 46, 12, 32, 56, 30, 86, 45, 99, 89,  1, 88, 94,
       48, 26, 65, 53, 54, 76, 48, 98, 63, 67, 74, 40, 41, 76,  8, 10, 78,
       18, 79, 92, 23,  3, 64, 22, 43, 24, 75,  8, 36, 78,  6, 98, 33, 49,
       31, 15, 21, 30, 44, 14, 75, 55, 22, 71, 95, 94,  9, 68, 65,  3, 58,
       90, 24,  6, 39, 40, 76, 61, 86, 87, 16, 31, 90, 91, 35, 89,  1, 29,
       52, 66,  8, 87, 86, 72,  1, 65, 19, 25, 51, 73, 90, 70, 43, 27, 44,
       33, 27, 68,  7, 68, 72, 49, 25, 56])

In [45]:
df = pd.DataFrame({'Time':days, 'Data': data})
df.head()

                 Time  Data
0 2021-06-28 00:00:00    29
1 2021-06-28 00:10:00    56
2 2021-06-28 00:20:00    82
3 2021-06-28 00:30:00    13
4 2021-06-28 00:40:00    35

In [46]:
df.set_index('Time', inplace=True)
df.head()

                     Data
Time
2021-06-28 00:00:00    29
2021-06-28 00:10:00    56
2021-06-28 00:20:00    82
2021-06-28 00:30:00    13
2021-06-28 00:40:00    35

In [49]:
df.sort_index().asfreq('T')
#df.asfreq('T')

                     Data
Time
2021-06-28 00:00:00  29.0
2021-06-28 00:01:00   NaN
2021-06-28 00:02:00   NaN
2021-06-28 00:03:00   NaN
2021-06-28 00:04:00   NaN
2021-06-28 00:05:00   NaN
2021-06-28 00:06:00   NaN
2021-06-28 00:07:00   NaN
2021-06-28 00:08:00   NaN
2021-06-28 00:09:00   NaN
2021-06-28 00:10:00  56.0
2021-06-28 00:11:00   NaN
2021-06-28 00:12:00   NaN
2021-06-28 00:13:00   NaN
2021-06-28 00:14:00   NaN
2021-06-28 00:15:00   NaN
2021-06-28 00:16:00   NaN
2021-06-28 00:17:00   NaN
2021-06-28 00:18:00   NaN
2021-06-28 00:19:00   NaN
2021-06-28 00:20:00  82.0
2021-06-28 00:21:00   NaN
2021-06-28 00:22:00   NaN
2021-06-28 00:23:00   NaN
2021-06-28 00:24:00   NaN
2021-06-28 00:25:00   NaN
2021-06-28 00:26:00   NaN
2021-06-28 00:27:00   NaN
2021-06-28 00:28:00   NaN
2021-06-28 00:29:00   NaN
...                   ...
2021-06-28 23:31:00   NaN
2021-06-28 23:32:00   NaN
2021-06-28 23:33:00   NaN
2021-06-28 23:34:00   NaN
2021-06-28 23:35:00   NaN
2021-06-28 23:36:00   NaN
2021-06-28 23:37:00   NaN
2021-06-28 23:38:00   NaN
2021-06-28 23:39:00   NaN
2021-06-28 23:40:00  49.0
2021-06-28 23:41:00   NaN
2021-06-28 23:42:00   NaN
2021-06-28 23:43:00   NaN
2021-06-28 23:44:00   NaN
2021-06-28 23:45:00   NaN
2021-06-28 23:46:00   NaN
2021-06-28 23:47:00   NaN
2021-06-28 23:48:00   NaN
2021-06-28 23:49:00   NaN
2021-06-28 23:50:00  25.0
2021-06-28 23:51:00   NaN
2021-06-28 23:52:00   NaN
2021-06-28 23:53:00   NaN
2021-06-28 23:54:00   NaN
2021-06-28 23:55:00   NaN
2021-06-28 23:56:00   NaN
2021-06-28 23:57:00   NaN
2021-06-28 23:58:00   NaN
2021-06-28 23:59:00   NaN
2021-06-29 00:00:00  56.0

[1441 rows x 1 columns]

In [48]:
df.resample('T').asfreq()

                     Data
Time
2021-06-28 00:00:00  29.0
2021-06-28 00:01:00   NaN
2021-06-28 00:02:00   NaN
2021-06-28 00:03:00   NaN
2021-06-28 00:04:00   NaN
2021-06-28 00:05:00   NaN
2021-06-28 00:06:00   NaN
2021-06-28 00:07:00   NaN
2021-06-28 00:08:00   NaN
2021-06-28 00:09:00   NaN
2021-06-28 00:10:00  56.0
2021-06-28 00:11:00   NaN
2021-06-28 00:12:00   NaN
2021-06-28 00:13:00   NaN
2021-06-28 00:14:00   NaN
2021-06-28 00:15:00   NaN
2021-06-28 00:16:00   NaN
2021-06-28 00:17:00   NaN
2021-06-28 00:18:00   NaN
2021-06-28 00:19:00   NaN
2021-06-28 00:20:00  82.0
2021-06-28 00:21:00   NaN
2021-06-28 00:22:00   NaN
2021-06-28 00:23:00   NaN
2021-06-28 00:24:00   NaN
2021-06-28 00:25:00   NaN
2021-06-28 00:26:00   NaN
2021-06-28 00:27:00   NaN
2021-06-28 00:28:00   NaN
2021-06-28 00:29:00   NaN
...                   ...
2021-06-28 23:31:00   NaN
2021-06-28 23:32:00   NaN
2021-06-28 23:33:00   NaN
2021-06-28 23:34:00   NaN
2021-06-28 23:35:00   NaN
2021-06-28 23:36:00   NaN
2021-06-28 23:37:00   NaN
2021-06-28 23:38:00   NaN
2021-06-28 23:39:00   NaN
2021-06-28 23:40:00  49.0
2021-06-28 23:41:00   NaN
2021-06-28 23:42:00   NaN
2021-06-28 23:43:00   NaN
2021-06-28 23:44:00   NaN
2021-06-28 23:45:00   NaN
2021-06-28 23:46:00   NaN
2021-06-28 23:47:00   NaN
2021-06-28 23:48:00   NaN
2021-06-28 23:49:00   NaN
2021-06-28 23:50:00  25.0
2021-06-28 23:51:00   NaN
2021-06-28 23:52:00   NaN
2021-06-28 23:53:00   NaN
2021-06-28 23:54:00   NaN
2021-06-28 23:55:00   NaN
2021-06-28 23:56:00   NaN
2021-06-28 23:57:00   NaN
2021-06-28 23:58:00   NaN
2021-06-28 23:59:00   NaN
2021-06-29 00:00:00  56.0

[1441 rows x 1 columns]